---
console.log("javascript");
const imagen1 = "../assets/imagen.png"

---

<section id="Soluciones" class="m-auto pt-14">
  <div data-aos="fade-down">
    <h1 class="text-center text-3xl">
      Soluciones de almacenajes rápido y confiable
    </h1>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div
            class="flex justify-between items-center flex-col lg:flex-row md:mt-10"
          >
            <div class="w-full lg:w-1/2 sm:text-center md:text-center xl:text-left">
              <h3
                class="font-manrope text-2xl text-gray-900 font-bold leading-[4rem] mb-7'0p text-center lg:text-left"
              >
                Tu tranquilidad es nuestra prioridad
              </h3>
              <p class="text-lg text-gray-500 mb-16 text-center lg:text-left">
                Almacenajes Minidepósitos: 30 años de experiencia en Panamá.
                Acceso directo a bodegas, seguridad 24/7 y flexibilidad a
                precios amigables.
              </p>
              <a
                href="#Cotizacion"
                class="m-auto rounded border-2 border-orange-500 primary px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-300 hover:text-neutral-200 focus:border-neutral-300 focus:text-neutral-200 focus:outline-none focus:ring-0 active:border-neutral-300 active:text-neutral-200 dark:hover:bg-neutral-600 dark:focus:bg-neutral-600"
                >Obtén tu cotización ahora</a
              >
            </div>
            <div
              class="w-full lg:w-1/2 lg:mt-0 md:mt-40 mt-16 max-lg:max-w-2xl"
            >
              <div
                class="grid grid-cols-1 min-[450px]:grid-cols-2 md:grid-cols-3 gap-8"
              >
                <img
                  src={imagen1}
                  alt="Team"
                  class="w-44 h-56 rounded object-cover md:mt-20 mx-auto min-[450px]:mr-0"
                />
                <img
                   src={imagen1}
                  alt="Team"
                  class="w-44 h-56 rounded object-cover mx-auto min-[450px]:ml-0 md:mx-auto"
                />
                <img
                   src={imagen1}
                  alt="Team"
                  class="w-44 h-56 rounded object-cover md:mt-20 mx-auto min-[450px]:mr-0 md:ml-0"
                />
                <img
                   src={imagen1}
                  alt="Team"
                  class="w-44 h-56 rounded object-cover mx-auto min-[450px]:ml-0 md:mr-0 md:ml-auto"
                />
                <img
                   src={imagen1}
                  alt="Team"
                  class="w-44 h-56 rounded object-cover md:-mt-20 mx-auto min-[450px]:mr-0 md:mx-auto"
                />
                <img
                   src={imagen1}
                  alt="Team"
                  class="w-44 h-56 rounded object-cover mx-auto min-[450px]:ml-0 md:mr-0"
                />
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </div>

  <script></script>

  <style>
    h1 {
      display: block;
      margin-top: 0.83em;
      margin-bottom: 0.83em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }

    .text-primary {
      color: #f26233;
    }
    .primary {
      background-color: #f26233;
    }

    :hover.primary {
      background-color: #c44e1e;
    }
  </style>
</section>
